
  body {
    margin: 0;
    max-width: 320px;
  }

  #Costume_Shop {
    max-width: 320px;
    text-align: center;
    font-family: PT Sans Narrow;
    margin-top: 1.5em;
    font-size: 20px;
  }

  #About {
    display: none;
  }

  #Contact {
    display: none;
  }

  #splash {
    max-width: 320px;
  }

  #desktop-splash {
    display:  none;
  }

  .Cat_Hero {
    max-width: 320px;
    height: auto;
    position: relative;
  }
  #hero_cat {
    position: absolute;
    margin-top: -340px;
    height: 100%;
    margin-left: 41px;
    z-index: 2;
  }

  #top {
    position: absolute;
    z-index: 1;
    max-width: 320px;
    margin-top: 20px;
    margin-left: 5px;
    color: white;
    font-family: PT Sans Narrow;
  }

  #middle {
    position: absolute;
    max-width: 320px;
    z-index: 1;
    margin-left: 18px;
    margin-top: 18px;
    font-size: 30px;
    color: white;
    font-family: PT Sans Narrow;
  }

  #bottom {
    position: absolute;
    max-width: 320px;
    z-index: 1;
    margin-top: 74px;
    margin-left:219px;
    color: white;
    font-family: PT Sans Narrow;
  }

  .title {
    color: black;
    font-family: PT Sans Narrow;
    font-weight: 800;
    text-align: center;
    font-size: 1.5em;
    max-width: 320px;
  }
  .intro {
    max-width: 320px;
    padding: 20px;
  }

  .intro p {
    font-family: PT Sans Narrow;
    width: 100%;
    margin-left: 1px;
    max-width: 320px;
    margin-top: -25px;
  }

  .About {
    padding: 20px;
    background-color: #eeeeee;
  }

  .About p {
    font-family: PT Sans Narrow;
    text-align: : center;
    width: 100%;
    margin-left: 1px;
  }

  #cool_cat {
    display: none;
  }

  #hula_cat {
    display:none;
  }

  #sassy_cat {
    max-width: 320px;
    position: center;
    border-radius: 180px;
    margin: 37px;
  }

  #gray-container {
    background-color: #eeeeee;
    max-width: 320px;
  }

  #In_Touch {
    display:none;
  }
  #map {
    max-width: 320px;
  }
  h3 {
    font-weight: 700;
    font-family: PT Sans Narrow;
  }
  h4 {
    color: #f26522;
    font-family: PT Sans Narrow;
  }
  .hours {
    font-family: PT Sans Narrow;
    margin-left: 20px;
  }

  .contact_info {
    font-family: PT Sans Narrow;
    margin-left: 20px;
  }

  .orange {
    color: #f26522;
    font-weight: 700;
    margin-left: 62px;
  }
  .footer {
    background-color: #45958B;
    max-width: 320px;
    height: 65px;
  }

  #top_orange {
    margin-top: -21px;
  }

  #bottom_orange {
    margin-top: 5px;
    padding-bottom: 18px;
  }
  .footer_text {
    color: white;
    font-family: PT Sans Narrow;
    margin-left: 100px;
    padding-top: 20px;
  }


/* On devices wider than 660px */
@media(min-width: 660px) {
  body {
    margin: 0;
    max-width: 660px;
  }

  #Costume_Shop {
    max-width: 660px;
  }

  .nav {
    display: flex;
  }

  #About {
    display: flex;
    }

  #Contact {
    display: flex;
    }

  #splash {
    display: none;
  }

  #desktop-splash {
    display: inherit;
    max-width: 660px;
  }

  #hero_cat {
      position: absolute;
      margin-top: -559px;
      height: 100%;
      margin-left: 116px;
      z-index: 2;
  }
    #top h2 {
      max-width: 660px;
      margin-top: 89px;
      margin-left: 62px;
    }

    #middle {
      font-size: 64px;
      font-style: italic;
      margin-left: 51px;
      margin-top: 36px;
      }
/* This does not show up in inspect
BUT if I delete it, it breaks it.  WHY!?!?!?!?! */
  #bottom {
      margin-top: 200px;
      margin-left: 500px;
    }

    .Cat_Hero #bottom h2 {
      margin-top:8px;
      margin-left:9px;
    }
    .title {
      max-width: 660px;
    }

    .intro {
      max-width: 660px;
    }

    .intro p {
      max-width: 660px;
    }

}

/* On devices wider than 940px */
@media(min-width: 940px) {

  #desktop-splash{
    min-width: 940px;
  }

  #hero_cat {
    margin-left: 366px;
    margin-top: -292px;
  }

  #top {
    font-size: 20px;
    margin-top: -55px;
    margin-left: 155px;
  }

  #middle {
    font-size: 56px;
    margin-top: -22px;
    margin-left: 200px;
  }

  #bottom {
    font-size: 20px;
    margin-top: 121px;
    margin-left: 568px;
  }

  #side_menu {
    display: flex;
    align-content: flex-end;
  }
  .title {
    min-width: 940px;
    font-size: 30px;
  }
  .intro p {
    min-width: 940px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 60px;
    margin-right: -60px;
  }

  #gray-container h2 p {
    background-color: #eeeeee;
    display: flex;
    height: 300px;
    align-content: space-between;
    flex-direction: row;
    justify-content: center;
}
.cat_container {
  display: flex;
  align-content: space-between;
}
#cool_cat {
  display: flex;
  max-width: 940px;
  position: center;
  border-radius: 180px;
  margin: 37px;
}

#hula_cat {
  display: flex;
  max-width: 940px;
  position: center;
  border-radius: 180px;
  margin: 37px;
}

h2 {
  font-family: PT Sans Narrow;
  color: : #FFFFFF;
}
h3 {
  font-weight: 700;
}
h4 {
  text-decoration-color: #f26522;
}
.teal {
  text-align: center;
  width: 100%;
  font-family: PT Sans Narrow;
  color: #45958B;
}
#gray-container-about {
  background-color: white;
  min-width: 940px;
  display: flex;
  align-content: center;
  margin-left: 160px;
}
.About div {
  background-color: #eeeeee;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 3%;
}
.About p {
  font-family: PT Sans Narrow;
  text-align: : center;
  width: 85%;
  margin: 20px;
  padding: 20px;
  padding-right: 20px;

}
#gray-container-contact {
  background-color: #eeeeee;
  min-width: 940px;
}

#title {
  text-align: center;
}


.contact_info {
  display: flex;
  align-content: space-between;
}

#In_Touch {
  display: inherit;
  color: black;
}
#contact_container {
  display: flex;
  color: white;
}

#address_container {
  display: flex;
  color: white;
}
#map {
  min-width: 940px;
}
.footer {
  min-width: 940px;
}
.foot_text {
  align: center;
  min-width: 940px;
}
